FiniteStateMachine/FiniteStateMachine.Android/bin/
FiniteStateMachine/FiniteStateMachine.Android/obj/
FiniteStateMachine/FiniteStateMachine/obj/
FiniteStateMachine/FiniteStateMachine/bin/
FiniteStateMachine/FiniteStateMachine.iOS/obj/
FiniteStateMachine/FiniteStateMachine.iOS/bin/
